Sürekli Değişken Özetleri

In [2]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
df_num = df.select_dtypes(include = ["float64","int64"])

In [4]:
df_num.head()

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

In [5]:
df_num.head().T

                     0         1        2        3        4
number             1.0     1.000     1.00     1.00     1.00
orbital_period   269.3   874.774   763.00   326.03   516.22
mass               7.1     2.210     2.60    19.40    10.50
distance          77.4    56.950    19.84   110.62   119.47
year            2006.0  2008.000  2011.00  2007.00  2009.00

In [7]:
df_num["distance"].describe().T

count     808.000000
mean      264.069282
std       733.116493
min         1.350000
25%        32.560000
50%        55.250000
75%       178.500000
max      8500.000000
Name: distance, dtype: float64

In [8]:
print("Ortalama:" + str(df_num["distance"].mean()))
print("Bolu Gözlem Sayısı: " + str(df_num["distance"].count()))
print("Maksimum Değeri:" + str(df_num["distance"].max()))
print("Minimum Değer:" + str(df_num["distance"].min()))
print("Medyan:" + str(df_num["distance"].median()))
print("Standart Sapma:" + str(df_num["distance"].std()))

Ortalama:264.06928217821786
Bolu Gözlem Sayısı: 808
Maksimum Değeri:8500.0
Minimum Değer:1.35
Medyan:55.25
Standart Sapma:733.1164929404422