Filter

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                  'Değişken1': [10,23,33,22,11,99],
                  'Değişken2' :[100,253,333,262,111,969]},
                 columns = ['gruplar', 'Değişken1','Değişken2'])
df

  gruplar  Değişken1  Değişken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [4]:
def filter_func(x):
    return x["Değişken1"].std() > 9

In [6]:
df.groupby("gruplar").std()

         Değişken1   Değişken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

In [5]:
df.groupby("gruplar").filter(filter_func)

  gruplar  Değişken1  Değişken2
2       C         33        333
5       C         99        969