Gözlem Ve Değişken Seçimi: loc & iloc

In [1]:
import numpy as np
import pandas as pd

In [2]:
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0     5    21    19
1    17    11    27
2     9     3    25
3    22     7     8
4     9     7    22
5    26    13    16
6     8    16    27
7    20     5    26
8    14    24    18
9     6    17    12

In [3]:
#loc: tanımladıgı şekli ile seçim ile seçim yapmak içi kullanılır.

In [5]:
df.loc[0:3]

   var1  var2  var3
0     5    21    19
1    17    11    27
2     9     3    25
3    22     7     8

In [6]:
#iloc: alışık olduğumuz indeksleme mantığı ile seçim yapar.

In [7]:
df.iloc[0:3]

   var1  var2  var3
0     5    21    19
1    17    11    27
2     9     3    25

In [8]:
df.iloc[0,0]

5

In [9]:
df.iloc[:3,:2]

   var1  var2
0     5    21
1    17    11
2     9     3

In [11]:
df.loc[0:3,"var3"]

0    19
1    27
2    25
3     8
Name: var3, dtype: int32

In [14]:
df.iloc[0:3]["var3"]

0    19
1    27
2    25
Name: var3, dtype: int32