Pandas DataFrame Eleman İşlemleri

In [1]:
import numpy as np
import pandas as pd

In [7]:
s1 = np.random.randint(10, size = 5)
s2 = np.random.randint(10, size = 5)
s3 = np.random.randint(10, size = 5)

In [8]:
sozluk = {"Değişken1": s1, "Değişken2": s2, "Değişken3": s3}

In [9]:
sozluk

{'Değişken1': array([7, 6, 3, 2, 4]),
 'Değişken2': array([6, 9, 0, 2, 5]),
 'Değişken3': array([7, 9, 5, 9, 2])}

In [10]:
df = pd.DataFrame(sozluk)

In [11]:
df

   Değişken1  Değişken2  Değişken3
0          7          6          7
1          6          9          9
2          3          0          5
3          2          2          9
4          4          5          2

In [12]:
df[0:1]

   Değişken1  Değişken2  Değişken3
0          7          6          7

In [13]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
df.index = ["a","b","c","d","e"]

In [15]:
df

   Değişken1  Değişken2  Değişken3
a          7          6          7
b          6          9          9
c          3          0          5
d          2          2          9
e          4          5          2

In [16]:
df["c":"e"]

   Değişken1  Değişken2  Değişken3
c          3          0          5
d          2          2          9
e          4          5          2

In [17]:
#silme işlemi

In [19]:
df.drop("a", axis = 0)

   Değişken1  Değişken2  Değişken3
b          6          9          9
c          3          0          5
d          2          2          9
e          4          5          2

In [20]:
df

   Değişken1  Değişken2  Değişken3
a          7          6          7
b          6          9          9
c          3          0          5
d          2          2          9
e          4          5          2

In [21]:
df.drop("a", axis = 0, inplace = True)

In [22]:
df

   Değişken1  Değişken2  Değişken3
b          6          9          9
c          3          0          5
d          2          2          9
e          4          5          2

In [23]:
#fancy

In [24]:
l = ["c","e"]

In [25]:
df.drop(l, axis = 0)

   Değişken1  Değişken2  Değişken3
b          6          9          9
d          2          2          9

In [26]:
#degişkenler için

In [27]:
df

   Değişken1  Değişken2  Değişken3
b          6          9          9
c          3          0          5
d          2          2          9
e          4          5          2

In [29]:
"Değişken1" in df

True

In [31]:
l = ["Değişken1","Değişken2","Değişken4"]

In [32]:
for i in l:
    print(i in df)

True
True
False

In [33]:
df

   Değişken1  Değişken2  Değişken3
b          6          9          9
c          3          0          5
d          2          2          9
e          4          5          2

In [34]:
df["Değişken1"]

b    6
c    3
d    2
e    4
Name: Değişken1, dtype: int32

In [36]:
df["Değişken4"] = df["Değişken1"] / df["Değişken2"]

In [37]:
df

   Değişken1  Değişken2  Değişken3  Değişken4
b          6          9          9   0.666667
c          3          0          5        inf
d          2          2          9   1.000000
e          4          5          2   0.800000

In [38]:
#Değişken Silmek

In [39]:
df.drop("Değişken4", axis = 1)

   Değişken1  Değişken2  Değişken3
b          6          9          9
c          3          0          5
d          2          2          9
e          4          5          2

In [40]:
df

   Değişken1  Değişken2  Değişken3  Değişken4
b          6          9          9   0.666667
c          3          0          5        inf
d          2          2          9   1.000000
e          4          5          2   0.800000

In [41]:
df.drop("Değişken4", axis = 1, inplace = True)

In [42]:
df

   Değişken1  Değişken2  Değişken3
b          6          9          9
c          3          0          5
d          2          2          9
e          4          5          2

In [44]:
l = ["Değişken1","Değişken2"]

In [45]:
df.drop(l, axis = 1)

   Değişken3
b          9
c          5
d          9
e          2