Pandas DataFrame Oluşturma

In [1]:
import pandas as pd
import numpy as np

In [2]:
l = [1,2,39,44,54]

In [3]:
l

[1, 2, 39, 44, 54]

In [4]:
pd.DataFrame(l, columns = ["degişken_ismi"])

   degişken_ismi
0              1
1              2
2             39
3             44
4             54

In [5]:
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
pd.DataFrame(m, columns = ["Değişken1","Değişken2","Değişken3"])

   Değişken1  Değişken2  Değişken3
0          1          2          3
1          4          5          6
2          7          8          9

In [7]:
#dataFrame İsimlendirme

In [8]:
df = pd.DataFrame(m, columns = ["Değişken1","Değişken2","Değişken3"])
df.head()

   Değişken1  Değişken2  Değişken3
0          1          2          3
1          4          5          6
2          7          8          9

In [9]:
df.columns = ("deg1","deg2","deg3")

In [10]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [13]:
df.shape

(3, 3)

In [14]:
df.ndim

2

In [15]:
df.size

9

In [16]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [17]:
type(df.values)

numpy.ndarray

In [19]:
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [20]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [21]:
a = np.array([1,2,3,4,5])

In [22]:
pd.DataFrame(a, columns = ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5