Transform

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                  'Değişken1': [10,23,33,22,11,99],
                  'Değişken2': [100,253,333,262,111,969]},
                 columns = ['gruplar', 'Değişken1', 'Değişken2'])
df

  gruplar  Değişken1  Değişken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [6]:
df["Değişken1"]*9

0     90
1    207
2    297
3    198
4     99
5    891
Name: Değişken1, dtype: int64

In [12]:
df_a = df.iloc[:,1:3]

In [13]:
df_a.transform(lambda x: (x-x.mean()) / x.std())

   Değişken1  Değişken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853